@media screen and (max-width: 1199px) {
    .header-bg{
        height: 730px;
    }
    .full-time-service .logo-section-left-side h2{
        font-size: 40px;
    }
    .call-btn-icon{
        width: 45px;
        height: 45px;
    }
    .call-btn-icon img{
        width: 20px;
        height: 20px;
    }
    .full-time-service .logo-section-right-side .row{
        padding-bottom: 80px;
    }
    .full-time-service .logo-section-right-side ul li h3{
        font-size: 20px;
    }
    .full-time-service .logo-section-right-side h1{
        font-size: 55px;
    }
    .full-time-service .logo-section-right-side .plumber-img-1 .call-btn-orange img{
        width: 25px;
        height: 25px;
    }
    .full-time-service .logo-section-right-side .plumber-img-1 .call-btn-orange{
        width: 70px;
        height: 70px;
        left: 60px;
        top: 0px;
    }
    .full-time-service .logo-section-right-side .call-arrow{
        left: 150px;
    }
    .perfect-solution .call-btn-orange{
        width: 70px;
        height: 70px;
        font-size: 20px;
        left: 40px; 
    }
    .perfect-solution .emergency-service-text{
        margin-left: 20px;
        width: 260px;
        height: 120px;
    }
    .perfect-solution .emergency-service-text h4{
        font-size: 18px;
    }
    .perfect-solution .choose-us-content h1{
        font-size: 40px;
        font-weight: 600;
    }
    .our-plumbing-service h1{
        font-size: 40px;
    }
    .call-us-btn{
        padding: 12px 30px;
        font-size: 16px;
    }
    .call-us-btn img{
        width: 20px;
        height: 20px;
    }
    .our-plumbing-service .call-us-btn{
        padding: 15px 35px;
        font-size: 17px;
    }
    .our-plumbing-service-first-row .call-us-btn img{
        width: 22px;
        height: 22px;
    }
    .carousel-content-box{
        border-radius: 12px;
        padding: 80px 50px;
    }
    .carousel-img-circle{
        height: 150px;
        width: 150px;
    }
    .carousel-img-circle svg{
        width: 40%;
    }
    .carousel-content-box h5{
        font-size: 18px;
    }
    .what-we-offer .circle-img{
        left: -40px;
        width: 30%;
    }
    .what-we-offer .emergency-service-text{
        margin-left: 50px;
    }
    .what-we-offer .call-btn-blue{
        font-size: 16px;
    }
    .what-we-offer{
        padding-bottom: 380px;
    }
    footer{
        padding: 200px 0 30px 0;
    }
    footer .footer-call-service{
        padding: 50px 30px;
        top: -70%;
    }
    footer .footer-call-service img{
        width: 90%;
    }
    footer .footer-call-service h3{
        font-size: 30px;
    }
    footer .footer-call-service p{
        font-size: 15px;
    }
    footer .footer-call-service .number-btn{
        font-size: 22px;
        border-radius: 14px;
    }
}

@media screen and (max-width: 991px) {
    .header-bg{
        height: 555px;
        width: 49%;
    }
    .full-time-service .logo-section-left-side h2{
        font-size: 36px;
    }
    .full-time-service .logo-section-left-side p{
        font-size: 14px;
    }
    .full-time-service .logo-section-right-side .open-p{
        justify-content: start;
    }
    .call-btn-icon img{
        width: 18px;
        height: 18px;
    }
    .full-time-service .logo-section-right-side .row{
        padding-bottom: 60px;
    }
    .full-time-service .logo-section-right-side h1{
        font-size: 40px;
    }
    .full-time-service .logo-section-right-side .plumber-img-1 .call-btn-orange img{
        width: 22px;
        height: 22px;
    }
    .full-time-service .logo-section-right-side .plumber-img-1 .call-btn-orange{
        width: 65px;
        height: 65px;
        left: 40px;
        top: 0px;
    }
    .full-time-service .logo-section-right-side .call-arrow{
        left: 120px;
    }
    .perfect-solution .call-btn-orange {
        width: 65px;
        height: 65px;
        font-size: 18px;
        left: 30px;
    }
    .perfect-solution .plumbing-repair-service{
        padding-right: 0px;
    }
    .perfect-solution .emergency-service-text{
        margin-left: 5px;
        width: 220px;
        height: 100px;
        padding-top: 35px;
        
    }
    .perfect-solution .emergency-service-text h4{
        font-size: 16px;
    }
    .perfect-solution .choose-us-content h6{
        font-size: 16px;
    }
    .perfect-solution .choose-us-content h1{
        font-size: 35px;
        font-weight: 600;
    }
    .perfect-solution .choose-us-content ul li p{
        font-size: 17px;
    }
    .our-plumbing-service h1{
        font-size: 30px;
    }
    .our-plumbing-service h6{
        font-size: 16px;
    }
    .our-plumbing-service p{
        font-size: 15px;
    }
    .what-we-offer .circle-img{
        left: -60px;
        width: 30%;
        bottom: 30px;
    }
    .what-we-offer .plumbing-work-station{
        padding-left: 0px;
    }
    .what-we-offer .emergency-service-text{
        margin-left: 5px;
    }
    .what-we-offer{
        padding-bottom: 280px;
    }
    footer .footer-call-service{
        padding: 40px 30px;
        top: -70%;
    }
    footer .footer-call-service .number-btn{
        font-size: 20px;
        padding: 12px 30px;
        border-radius: 14px;
    }
    footer .footer-call-service img{
        width: 100%;
    }
    footer .footer-call-service h3{
        font-size: 25px;
    }
    footer .footer-call-service p{
        font-size: 13px;
    }
    footer .footer-menu ul li a{
        font-size: 12px;
    }
}

@media screen and (max-width: 767px) {
    .header-bg{
        height: 1025px;
        width: 100%;
        border-end-end-radius: 35%;
    }
    .logo-side{
        text-align: center;
    }
    .show-on-mobile{
        display: block;
        color: #303945;
        font-size: 40px;
        font-weight: 600;
        padding: 50px 0;
    }
    .hide-on-mobile{
        display: none;
    }
    .full-time-service .logo-section-left-side h2{
        font-size: 38px;
        padding-top: 60px;
    }
    .full-time-service .logo-section-left-side p{
        font-size: 16px;
    }
    .full-time-service .logo-section-right-side {
        padding-top: 230px;
    }
    .full-time-service .logo-section-right-side .plumber-img-1 .call-btn-orange {
        width: 70px;
        height: 70px;
        left: 70px;
        top: 0px;
    }
    .full-time-service .logo-section-right-side .call-arrow {
        left: 150px;
    }
    .perfect-solution .emergency-service-text {
        margin-left: 30px;
        width: 250px;
    }
    .our-plumbing-service {
        padding: 50px 0;
    }
    .carousel-content-box{
        padding: 60px 30px;
    }
    .carousel-img-circle{
        height: 120px;
        width: 120px;
    }
    .carousel-img-circle svg{
        width: 30%;
    }
    .carousel-content-box h5{
        font-size: 16px;
    }
    .owl-carousel .owl-nav{
        text-align: center;
    }
    .what-we-offer .circle-img{
        left: -60px;
        width: 20%;
    }
    .what-we-offer .emergency-service-text{
        margin-left: 50px;
    }
    .perfect-solution .call-btn-orange {
        width: 70px;
        height: 70px;
        font-size: 20px;
    }
    .perfect-solution .call-btn-orange span {
        font-size: 18px;
    }
    .what-we-offer{
        padding-bottom: 500px;
    }
    footer{
        padding-top: 350px;
    }
    footer .footer-call-service{
        padding: 300px 20px 50px 20px;
        top: -40%;
        left: 0%;
        border-radius: 50px;
    }
    footer .footer-call-service img{
        width: 100%;
        top: -100%;
        transform: translate(-50%,-110%);
    }
    footer .footer-call-service .number-btn{
        font-size: 20px;
        padding: 12px 30px;
        border-radius: 30px;
    }
    
    footer .footer-call-service h3{
        font-size: 30px;
    }
    footer .footer-call-service p{
        font-size: 15px;
    }
    footer .footer-menu img{
        padding-bottom: 30px;
    }
    footer .footer-menu ul{
        display: block;
    }
    footer .footer-menu ul li{
        padding: 0 0 20px 0;
    }
    footer .footer-menu ul li a{
        font-size: 15px;
    }
    footer .copyright-p{
        font-size: 14px;
    }
}

@media screen and (max-width: 668px) {
    .perfect-solution .choose-us-content{
        width: 90%;
        margin: auto;
    }
    .perfect-solution .emergency-service-text {
        margin-left: 50px;
    }    
    .what-we-offer {
        padding-bottom: 420px;
    }
    .what-we-offer .circle-img {
        left: -20px;
        width: 20%;
    }
    footer .footer-call-service {
        width: 90%;
        margin: auto;
        left: 50%;
        top: -140%;
        transform: translateX(-50%);
    }
}
@media screen and (max-width: 576px) {
    .perfect-solution .emergency-service-text {
        margin-left: 30px;
    }    
    .perfect-solution .choose-us-content{
        width: 90%;
        margin: auto;
    }
    .what-we-offer .choose-us-content{
        width: 100%;
        margin: auto;
    }
    .what-we-offer .circle-img {
        left: -5px;
    }
}
@media screen and (max-width: 520px) {
    .header-bg{
        height: 990px;
    }
}
@media screen and (max-width: 500px) {
    .header-bg{
        height: 960px;
    }
}
@media screen and (max-width: 490px) {
    .header-bg{
        height: 940px;
    }
}
@media screen and (max-width: 480px) {
    .header-bg{
        height: 930px;
    }
}
@media screen and (max-width: 450px) {
    .header-bg{
        height: 880px;
    }
    .what-we-offer .circle-img {
        bottom: 60px;
    }
}
@media screen and (max-width: 425px) {
    .header-bg{
        height: 860px;
    }
    .what-we-offer{
        padding-bottom: 380px;
    }
    .full-time-service .logo-section-right-side .plumber-img-1 .call-btn-orange {
        left: 30px;
    }
    .full-time-service .logo-section-right-side .call-arrow {
        left: 125px;
    }
    .show-on-mobile{
        font-size: 32px;
    }
    .full-time-service .logo-section-left-side h2 {
        font-size: 28px;
    }
    .perfect-solution .choose-us-content h1 {
        font-size: 28px;
    }
    .our-plumbing-service h1 {
        font-size: 28px;
    }
    footer .footer-call-service h3 {
        font-size: 28px;
    }
}
@media screen and (max-width: 410px) {
    .header-bg{
        height: 840px;
    }
}
@media screen and (max-width: 400px) {
    .header-bg{
        height: 820px;
    }
    .what-we-offer{
        padding-bottom: 360px;
    }
}
@media screen and (max-width: 390px) {
    .header-bg{
        height: 800px;
    }
    .what-we-offer{
        padding-bottom: 360px;
    }
}
@media screen and (max-width: 375px) {
    .header-bg{
        height: 770px;
    }
}
@media screen and (max-width: 320px) {
    .header-bg{
        height: 700px;
    }
    footer .footer-call-service {
        top: -150%;
    }
    .perfect-solution .choose-us-content{
        width: 85%;
        margin: auto;
    }
    .what-we-offer .choose-us-content{
        width: 100%;
        margin: auto;
    }
}